.section-reset-passowrd {
  padding-top: 200px;
  @media (max-width: 768px) {
    padding-top: 60px;
    .container {
      padding: 0;
    }
  }
  .reset-password {
    max-width: 456px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px 24px;
    @media (max-width: 768px) {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
    }
  }
  @media (min-width: 768px) {
    .wrapper {
      display: none;
    }
  }
  .wrapper {
    max-width: 456px;
    margin: 0 auto;
    .back {
      margin-left: 20px;
      background: #FFFFFF;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 3px;
      float: left;
      padding: 7px 14px;
    }
  }
}