.d-none {
  display: none !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-20 {
  margin-top: 20px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.no-left-radius {
  border-radius: 0;
}

.display-inline {
  display: inline-block;
}

.bold {
  font-weight: bold;
}