APP_NAME=Forwardchess
APP_ENV=local
APP_KEY=base64:Bhb7LpZN3P9GKTNpvt4nWmHnT11tL9M9Aegol9IPgMU=
APP_DEBUG=true
APP_URL=http://forwardchess.test
APP_BACKEND_PATH=admin

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=api
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=info@forwardchess.com
MAIL_FROM_NAME=forwardchess

CACHE_KEYS_ENCRYPT=true
CACHE_KEYS_PREFIX=FC

PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=AfszFo-c2IdWQ8UF9WVn2UqNhBt2PTRmGwyWR4Qzhtee2uZQYiSX7wEyD_Sg_5s2Rn8aX9iH4kBLCe0Z
PAYPAL_SECRET=EKeIoQ-_bUIRAEmv7SlgjL7_sqvt02jFDfhF2IFUjSxoYreaI_QsJbUZMmDPXI6eDb1akbGLrx5tvqYy

# mailchimp
MAILCHIMP_APIKEY=7a64c8643bdce89801ad96479db7869b-us9
MAILCHIMP_STORE=main-store
MAILCHIMP_SUBSCRIBERS_LIST=9762086d2e
MAILCHIMP_REGISTRATION_LIST=1911a72897
MAILCHIMP_BROWSE_ABANDONED_WORKFLOW_ID=44e269f00c
MAILCHIMP_BROWSE_ABANDONED_WORKFLOW_EMAIL_ID=627cfe9b00

#ip location
IP_SERVICE_URL=http://api.ipstack.com
IP_SERVICE_KEY=67af1371bb8f498c8d49805da34e7782

RECAPTCHA_SITE_KEY=6LegMJoUAAAAAEyl06e9iYp_hEXQZ32gJBCI_cew
RECAPTCHA_SECRET_KEY=6LegMJoUAAAAALx9csYYw5kKAs5tNzP-Xg9MTJAK

REFERRAL_ENABLED=1
REFERRAL_BASE_URL=https://my.referralcandy.com/api/v1/
REFERRAL_ACCESS_ID=h528nyxi5xtfimcyfw1reuv8f
REFERRAL_SECRET_KEY=cabfd0733acf9aacfbca172722f18526

DELETED_USER_ID=10278

MOBILE_SECRET=2e32794508b2933c9bbc28f8ebb3ea70

GCP_URL=https://reader-dev-dot-forwardchessbackend.uc.r.appspot.com/integration/
#GCP_URL=https://api-v1.forwardchess.com/integration/

WEB_READER_URL=https://staging.read.forwardchess.com
#WEB_READER_URL=https://read.forwardchess.com
