// Circular Std
@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CicularStd/CircularStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CicularStd/CircularStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CicularStd/CircularStd-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CicularStd/CircularStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}


// Futura PT
@font-face {
  font-family: 'FuturaPT';
  src: url('../../fonts/FuturaPT/FuturaPTBook.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../../fonts/FuturaPT/FuturaPT-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../../fonts/FuturaPT/FuturaPTBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}