/*===================================================================================*/
/*  Track your Order Article
/*===================================================================================*/

.page-track-your-order {
  p {
    margin-bottom: $magrin-bottom-20;
  }

  .section {
    margin: 0;
  }

  .field-row {
    margin-bottom: 25px;
  }

  .le-input {
    padding: 10px;
  }
}