/*===================================================================================*/
/*  Single Product Article
/*===================================================================================*/

.section-single-product {
  background-color: $white-color;

  .single-product-block {
    border: 1px solid $content-gray-color;
    box-sizing: border-box;
    border-radius: $border-radius-5;
    margin-bottom: 80px;
    padding-bottom: 0;
    //padding-bottom: 35px;

    @media (max-width: 768px) {
      .sample-container {
        margin: 20px;
      }
    }

    .image-block {
      padding: 8px;
    }

    .wrapper-content {
      margin-top: 16px;
      padding-bottom: 10px;
      border-bottom: 1px solid $content-gray-color;

      .secondary-description {
        margin-bottom: 14px;

        a {
          color: #757575;
        }

        .strong {
          font-weight: $font-weight-500;
        }
      }
    }

    .wishlist-btn-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      margin-right: 20px;
    }

    .purchase {
      .le-button {
        margin-right: 8px;
        @media (min-width: 992px) and (max-width: 1128px) {
          padding: 10px 10px;
        }
      }

      //.disabled {
      //  padding: 10px 5px;
      //}
    }

    @media (max-width: 1100px) {
      .price-current {
        margin-left: 10px;
      }
    }

    @media (min-width: 992px) {
      .purchase-hide {
        display: none !important;
      }
    }

    @media (max-width: 992px) {
      .title {
        font-size: 22px;
        line-height: $line-height-24;
        font-weight: 400;
      }

      .wrapper-content {
        flex-direction: column;
      }

      .purchase {
        display: none !important;

        .price-current {
          margin-left: 0;
          margin-bottom: 15px;
        }
      }
    }

    @media (max-width: 768px) {
      .m-l-5 {
        margin-left: -15px;
      }

      .purchase-hide {
        margin-top: 10px;
        margin-bottom: 14px;
      }

      .title,
      .first-block,
      .second-block,
      .price-current,
      .excerpt {
        margin-left: 20px;
      }
    }
  }

  .sample-iframe {
    width: 100%;
    height: 700px;
    border: none;
    margin-bottom: 20px;
  }
}

.wishlist-btn {
  border: none;
  background: none;
  outline: none;
  margin-bottom: 5px;

  svg {
    width: 20px;
  }
}
